nav ul {
    list-style-type: none;
    margin: 0;
    align-items: center;
    font-size: 1.9rem;
    
  }
  
  nav li {
    display: inline-block;
    position: relative;
    border-left: solid red 3px;
    padding-left: 10px;
  }
  
  nav a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: gray;

  }
  
  nav ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
  }
  
  nav li:hover ul {
    display: block;
  }

